* {
  box-sizing: border-box;
}
body {
  font-size: 0.8em;
}
.inputForm,
.middleTable,
.resultTable {
  border: 2px solid #666;
  position: fixed;
  padding: 0.5em;
}
.inputForm {
  background-color: #999;
  width: 300px;
  height: 100vh;
  top: 0;
  right: 0;
}
.middleTable {
  background-color: #ccc;
  width: calc(100% - 300px);
  height: 50vh;
  top: 0;
  left: 0;
}
.resultTable {
  background-color: #f1f1f1;
  width: calc(100% - 300px);
  height: 50vh;
  bottom: 0;
  left: 0;
}
